<% provide(:title, @user.name) %>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td colspan="2">
      <%= link_to "◀", user_path(date: @first_day.prev_month), class: " btn btn-info" %>
      <%= l(@first_day, format: :middle) %> 時間管理表
      <%= link_to "▶", user_path(date: @first_day.next_month), class: " btn btn-info" %>
    </td>
    <td>指定勤務開始時間<%= @user.designated_work_start_time.strftime("%H:%M") %><br>指定勤務終了時間 <%= @user.designated_work_end_time.strftime("%H:%M") %></td>
      <td colspan="2">基本時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td colspan="2">所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード：<%= @user.employee_number %></td>
      <td>出勤日数： <%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>
<div class="btn-users-show">
  <% if current_user.superior? %>
    <div>
      <% if @monthly_approval_requests.present? %>
        <%= link_to "【所属長承認申請のおしらせ】", "#monthlyApprovalCheckModal", class: "btn #{'notification-link' if @unapproved_monthly_requests > 0}", data: { toggle: 'modal' } %>
        <%if @unapproved_monthly_requests > 0 %>  
          <span class="notification-count"><%= @unapproved_monthly_requests %>件の通知があります</span>
        <% end %>
      <% else %>
        <%= link_to "【所属長承認申請のおしらせ】", "#", class: "btn" %>
      <% end %>
    </div>
    <div>
      <%= link_to "【勤怠変更のお知らせ】", "#", class: "btn" %>
    </div>
    <div>
      <% if @overtime_requests.present? %>
        <%= link_to "【残業申請のお知らせ】", "#overtimeCheckModal", class: "btn #{'notification-link' if @unapproved_overtime_requests > 0}", data: { toggle: 'modal' } %>
        <% if @unapproved_overtime_requests > 0 %>
          <span class="notification-count"><%= @unapproved_overtime_requests %>件の通知があります</span>
        <% end %>
      <% else %>
      <%= link_to "【残業申請のお知らせ】", "#", class: "btn" %>
      <% end %>
    </div>    
  <% end %>

  <div class="d-flex justify-content-start mb-2">
    <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
    <%= link_to "CSV出力", "#", class: "btn btn-primary me-2" %> <!-- "#"は仮のパスです -->
  </div>
  <div>
    <%= link_to "勤怠修正ログ(承認済み)", "#", class: "btn btn-primary" %> <!-- "#"は仮のパスです -->
  </div>
</div>

<div>
  <% total_working_hours = 0.0 %>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="2">出社</th>
        <th></th>
        <th colspan="2">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2", colspan="2">指示書確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <%= link_to "残業申請", "#overtimeModal-#{day.worked_on}", class: "btn btn-primary overtime-request-btn", "data-toggle" => "modal", data: { date: day.worked_on } %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= day.worked_on.strftime('%a').downcase %>">
            <%= $days_of_the_week[day.worked_on.wday] %>
          </td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at, format: :minute) if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at, format: :minute) if day.finished_at.present? %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <% working_hours = ((day.finished_at - day.started_at) / 3600).to_i %>
              <% working_minutes = ((day.finished_at - day.started_at) / 60).to_i % 60 %>
              <% total_working_hours += working_hours + working_minutes / 60.0 %>
              <%= format("%d:%02d", working_hours, working_minutes) %> <!-- 時:分 の形式で出力 -->
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td>
          <% if day.next_day %>
            <%= day.overtime_end_at ? "翌日：" + day.overtime_end_at.strftime('%H') : '' %>
          <% else %>
            <%= day.overtime_end_at ? day.overtime_end_at.strftime('%H') : '' %>
          <% end %>
          </td>
          <td><%= day.overtime_end_at ? day.overtime_end_at.strftime('%M') : '' %></td>
          <td>
          <% if day.overtime_end_at.present? %>
            <% designated_end_time_corrected_date = @user.designated_work_end_time.change(year: day.worked_on.year, month: day.worked_on.month, day: day.worked_on.day) %>
            <% overtime_duration = day.overtime_end_at - designated_end_time_corrected_date %>
            <% overtime_hours = (overtime_duration / 3600).to_i %>
            <% overtime_minutes = ((overtime_duration % 3600) / 60).to_i %>
            
            <% if overtime_duration < 0 %>
                -<%= '%.2f' % (overtime_hours.abs + overtime_minutes.abs / 60.0) %>
            <% else %>
                <%= '%.2f' % (overtime_hours + overtime_minutes / 60.0) %>
            <% end %>
          <% end %>
          </td>
          <td><%= day.overtime_task ? day.overtime_task : '' %></td>
          <td colspan="2">
          <% overtime_status_text = case day.overtime_status
            when "overtime_pending" then "残業申請中"
            when "overtime_approved" then "残業申請承認済"
            when "overtime_declined" then "残業申請否認"
            else ""
            end %>
            
          <% attendance_status_text = case day.attendance_status
            when "attendance_pending" then "勤怠編集申請中"
            when "attendance_approved" then "勤怠編集承認済"
            when "attendance_declined" then "勤怠編集否認"
            else ""
            end %>

          <% if day.overtime_status == "overtime_pending" %>
            <%= "#{day.overtime_approver.name if day.overtime_approver.present?}：" %>
          <% end %>

          <%= [overtime_status_text, attendance_status_text].reject(&:empty?).join("：") %>
        </td>
      </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td>総合勤務時間</td>
        <td colspan="8"></td>
        <td>合計在社時間</td>
        <td colspan="5"></td>
        <td rowspan="2">
          <div class="mb-2">
            所属長承認：
            <% case @monthly_approval_status %>
            <% when "未" %>
              <span>未</span>
            <% when "申請中" %>
              <span><%= @monthly_approval_approvers.map(&:name).join(", ") %>へ 申請中</span>
            <% when "承認済み" %>
              <span><%= @monthly_approval_approvers.map(&:name).join(", ") %>から 承認済み</span>
            <% when "否認" %>
              <span><%= @monthly_approval_approvers.map(&:name).join(", ") %>から 否認</span>
            <% else %>
              <span class="badge badge-secondary"><%= @monthly_approval_status %></span>
            <% end %>
          </div>
            <%= form_with(url: monthly_approvals_path, method: :post, local: true) do %>
              <%= hidden_field_tag :first_day, @first_day %>
              <div class="mb-2">
                <select class="form-control" name="superior_user_id">
                  <option value=""></option>
                  <% @superiors.each do |superior| %>
                    <option value="<%= superior.id %>"><%= superior.name %></option>
                  <% end %>
                </select>
              </div>
              <div>
                <%= submit_tag "申請", class: "btn btn-primary full-size-btn" %>
              </div>
            <% end %>        
        </td>
      </tr>
      <tr>
        <td><%= format_basic_info(@user.basic_work_time).to_f * @worked_sum %></td>
        <td colspan="8"></td>
        <td><%= format("%.2f", total_working_hours) %></td>
        <td colspan="5"></td>
      </tr>
    </tfoot>
  </table>

  <% @attendances.each do |day| %>
    <%= render partial: "overtime_requests/new_overtime_requests", locals: { day: day } %>
  <% end %>    

  <%= render partial: "monthly_approvals/monthly_application" %>
  <%= render partial: "overtime_requests/overtime_application" %>
</div>