<div class="modal fade" id="overtimeCheckModal" tabindex="-1" role="dialog" aria-labelledby="overtimeCheckModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"> 
    <%= form_for :overtime_request, url: approve_overtime_overtime_request_path, method: :patch do |f| %>
      <% @overtime_requests.group_by(&:user).each do |user, requests| %>
          <h4>【<%= user.name %>からの申請】</h4>
        <div class="table-responsive"> 
           
            <table class="table table-condensed table-hover">  
              <thead>  
                <tr>
                  <td>日付</td>
                  <td>曜日</td>
                  <td>終了予定時間</td>
                  <td>指定勤務終了時間</td>
                  <td>時間外時間</td>
                  <td>業務処理内容</td>
                  <td>指示者確認㊞</td>
                  <td>変更</td>
                  <td>勤怠を確認する</td>
                </tr>
              </thead>
              <tbody> 
              <% requests.each do |overtime_request| %> 
                  <tr>
                    <td><%= overtime_request.worked_on.strftime("%-m/%-d") %></td>  
                    <td><%= $days_of_the_week[overtime_request.worked_on.wday] %></td>
                    <td>
                      <% if overtime_request.next_day? %>
                        翌日 <%= overtime_request.overtime_end_at.strftime("%H:%M") if overtime_request.overtime_end_at.present? %>
                      <% else %>
                        <%= overtime_request.overtime_end_at.strftime("%H:%M") if overtime_request.overtime_end_at.present? %>
                      <% end %>
                    </td>
                    <td><%= overtime_request.user.designated_work_end_time.strftime("%H:%M") if overtime_request.user.designated_work_end_time.present? %></td>
                    <%
                    designated_end_time_corrected_date = overtime_request.user.designated_work_end_time.change(year: overtime_request.worked_on.year, month: overtime_request.worked_on.month, day: overtime_request.worked_on.day)
                    
                    overtime_duration = overtime_request.overtime_end_at - designated_end_time_corrected_date
                    overtime_hours = (overtime_duration / 3600).to_i
                    overtime_minutes = ((overtime_duration % 3600) / 60).to_i
                    %>
                    <td>
                      <% if overtime_duration < 0 %>
                        -<%= '%.2f' % (overtime_hours.abs + overtime_minutes.abs / 60.0) %>
                      <% else %>
                        <%= '%.2f' % (overtime_hours + overtime_minutes / 60.0) %>
                      <% end %>
                    </td>
                    <td><%= overtime_request.overtime_task %></td>
                      <td>
                        <%= f.select :overtime_status, {'なし' => 'overtime_no_request',
                                                        '申請中' => 'overtime_pending',
                                                        '承認' => 'overtime_approved',
                                                        '否認' => 'overtime_declined'
                                                        }, {}, { class: 'form-control' } %>
                      </td>
                      <td><%= f.check_box :overtime_check %></td>
                      <td><%= link_to '確認', attendance_review_user_path(overtime_request.user), class: 'btn btn-primary' %></td>
                  </tr>    
              <% end %>
              </tbody>      
            </table>
        </div>
      <% end %> 
      <div class="text-center">
        <% if @overtime_requests.blank? %>
          <p>申請はありません</p>
        <% else %>
          <%= f.submit '変更を送信する', class: 'btn btn-primary btn-lg' %> 
        <% end %>
      </div>
    <% end %>          
    </div>
  </div>
</div>