<div class="modal fade" id="monthlyApprovalCheckModal" tabindex="-1" role="dialog" aria-labelledby="monthlyApprovalCheckModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <%= form_for :monthly_approval_request, url: monthly_approval_path, method: :patch do |f| %>
      <% @grouped_monthly_approval_requests.each do |user, requests| %>
          <h4 class="modal-title text-center">【<%= user.name %>からの1カ月分勤怠申請】</h4>
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>月</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
              </thead>
              <tbody>
                  <% requests.each do |request| %>
                    <tr>
                      <td><%= request.worked_on.strftime("%-m月") %></td>
                      <td>
                        <%= f.select "monthly_approval_request[#{request.id}][monthly_approval_status]",
                                  [["なし", "monthly_approval_no_request"], ["申請中", "monthly_approval_pending"], ["承認", "monthly_approval_approved"], ["否認", "monthly_approval_declined"]],
                                  selected: request.monthly_approval_status,
                                  class: "form-control" %>
                      </td>
                      <td><%= f.check_box "monthly_approval_request[#{request.id}][change_approval]", {}, 1, 0 %></td>
                      <td>
                        <%= hidden_field_tag "attendance_id", request.id %>
                        <%= link_to '確認', attendance_review_user_path(request.user, date: request.worked_on), class: 'btn btn-primary' %>
                      </td>
                    </tr>
                  <% end %>
              </tbody>
            </table>         
        </div>
      <% end %>
      <div class="text-center"> 
        <%= f.submit '変更を送信する', class: 'btn btn-primary btn-lg' %> 
      </div>
    <% end %>
    </div>
  </div>
</div>