<% provide(:title, "Base_Point") %>

<div class="container">
  <h1>拠点一覧</h1>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="action-cell"></th>
        <th class="action-cell"></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
      </tr>
    </thead>
    <tbody>
      <% @bases.each do |base| %>
        <tr>
          <td class="action-cell"><%= link_to '修正', edit_basis_path(base), class: "btn  btn-edit btn-primary" %></td>
          <td class="action-cell"><%= link_to '削除', basis_path(base), class: "btn btn-md btn-primary", method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
          <td><%= base.base_number %></td>
          <td><%= base.base_name %></td>
          <td><%= base.base_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '拠点情報追加', new_basis_path, class: 'btn btn-lg btn-primary' %>
</div>