<div class="modal fade" id="attendanceCheckModal" tabindex="-1" role="dialog" aria-labelledby="attendanceCheckModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= form_for :attendance_request, url: update_attendance_request_attendance_path, method: :patch do |f| %>
        <% @attendance_requests.group_by(&:user).each do |user, requests| %>
            <h4 class="text-center">【<%= user.name %>からの勤怠変更申請】</h4>
            <div class="table-responsive">
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th rowspan="3">日付</th>
                    <th rowspan="3">曜日</th>
                    <th colspan="4">変更前</th>
                    <th colspan="4">変更後</th>
                    <th rowspan="3">備考</th>
                    <th rowspan="3">指示者確認㊞</th>
                    <th rowspan="3">変更</th>
                    <th rowspan="3">勤怠を確認する</th>
                  </tr>
                  <tr>
                    <th colspan="2">出社</th>
                    <th colspan="2">退社</th>
                    <th colspan="2">出社</th>
                    <th colspan="2">退社</th>
                  </tr>
                  <tr>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                  </tr>
                </thead>
                <tbody>
                    <% requests.each do |attendance_request| %>
                      <%= fields_for "attendance_requests[#{attendance_request.id}]", attendance_request do |ar_fields| %>
                      <tr>
                        <td><%= l(attendance_request.worked_on, format: :short) %></td>
                        <td><%= $days_of_the_week[attendance_request.worked_on.wday] %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><%= attendance_request.started_at.strftime('%-H') %></td>
                        <td><%= attendance_request.started_at.strftime('%M') %></td>
                        <td>
                          <% if attendance_request.next_day %>
                            (翌日) <%= attendance_request.finished_at.strftime('%-H') %>
                          <% else %>
                            <%= attendance_request.finished_at.strftime('%-H') %>
                          <% end %>
                        </td>
                        <td><%= attendance_request.finished_at.strftime('%M') %></td>
                        <td><%= attendance_request.note %></td>
                        <td>
                          <%= ar_fields.select :attendance_status, {'なし' => 'attendance_no_request',
                                                                    '申請中' => 'attendance_pending',
                                                                    '承認' => 'attendance_approved',
                                                                    '否認' => 'attendance_declined'
                                                                  }, {}, { class: 'form-control' } %>
                        </td>
                        <td><%= ar_fields.check_box :approval_status %></td>
                        <td><%= link_to '確認', attendance_review_user_path(attendance_request.user, date: attendance_request.worked_on), class: 'btn btn-primary' %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>  
        <div class="text-center">
          <%= f.submit '変更を送信する', class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>