<% provide(:title, @user.name) %>
<h1 class="modal-title">勤怠変更履歴</h1>

<%= link_to "リセット", reset_approved_logs_user_attendance_path(@user), method: :delete, data: {confirm: "本当に履歴をリセットしますか？"}, class: 'btn btn-primary' %>

<div>
  <%= form_with(url: approved_logs_user_attendance_path(params[:user_id]), method: :get, local: true) do %>
    <table>
      <thead>
        <tr>
          <th>年</th>
          <th>月</th>
          <th></th>
        </tr>      
      </thead>
      <tbody>
        <tr>
          <td>
            <%= select_tag 'search[year]', options_for_select((Date.today.year - 5..Date.today.year).to_a.reverse.unshift('全体表示'), selected: params[:search].try(:[], :year)), include_blank: true %>     
          </td>
          <td>
            <%= select_tag 'search[month]', options_for_select((1..12).to_a.unshift('全体表示'), selected: params[:search].try(:[], :month)), include_blank: true %>
          </td>
          <td><%= submit_tag '検索', class: 'btn btn-primary' %></td>
        </tr>
      </tbody> 
    </table>
  <% end %>
  
  </div>
<table class="table">
  <thead>
    <tr>
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社時間</th>
      <th>変更後退社時間</th>
      <th>承認者</th>
    </tr>
  </thead>
  <tbody>
    <% @approved_attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.worked_on %></td>
        <td><%= attendance.started_at_before_change&.strftime("%H:%M") %></td>
        <td><%= attendance.finished_at_before_change&.strftime("%H:%M") %></td>
        <td><%= attendance.started_at&.strftime("%H:%M") %></td>
        <td><%= attendance.finished_at&.strftime("%H:%M") %></td>
        <td><%= User.find(attendance.attendance_approver_id).name if attendance.attendance_approver_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>